/**
 * 	Additional CSS for GIFT platform theme
 */

div.center-logo {
    position: fixed;
    width: 300px;
    height: 419px;
    top: 50%;
    left: 50%;
    margin-top: -210px; /* Negative half of height. */
    margin-left: -150px; /* Negative half of width. */
}

div.head-logo {
    text-align: center;
    margin-bottom: 50px;
}

div.head-logo img {
    height: 100px;
}

div.step {
    display: none;
    margin-bottom: 120px;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
}

div.profile, div.exhibit {
    display: inline-block;
    width: 47%;
    padding: 15px;
    background: white;
    color: black;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 1%;
}

div.profile img, div.exhibit img {
    width: 100%;
}

div.profile h2, div.exhibit h2 {
    font-size: 20px;
    font-size: 2rem;
}

img.exhibitImage {
    width: 100%;
}

textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/gear.gif') 50% 50% no-repeat rgb(0,0,0);
	display: none;
}

.grid-item { width: 23%; }
.grid-item--width2 { width: 48%; }
.grid-item--width3 { width: 31%; }

div#giftsvis .public, 
div#usedvis .public {
    cursor: pointer;
}

div#giftsvis .grid-item.incomplete {
    background-color: orange;
}

div#giftsvis .grid-item, 
div#giftobjectsvis .grid-item, 
div#usedvis .grid-item,
div.giftobjectsvis .grid-item {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    margin: 1%;
    font-size: 0.7em;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
.link {
    fill: none;
    stroke: #bbb;
}