/**
 * 	Additional CSS for GIFT platform theme
 */

div.center-logo {
    position: fixed;
    width: 300px;
    height: 419px;
    top: 50%;
    left: 50%;
    margin-top: -210px; /* Negative half of height. */
    margin-left: -150px; /* Negative half of width. */
}

div.head-logo {
    text-align: center;
    margin-bottom: 50px;
}

div.head-logo img {
    height: 100px;
}

div.step {
    display: none;
    margin-bottom: 120px;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
}